<div class="wrapper backgroundwrapper">
    <section class="custom-wrap custom-middle">
        <div class="container">
            <div class=" middle-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blue-box">
                            <div class="mwaloni">
                                <h4>Mwaloni</h4>
                                <p>Intelligent Systems</p>
                            </div>
                            <div class="tree-img">
                                <img src="/assets/Layer 1.png">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="welcome-form ">
                            <%= form_with scope: :forgot_password,url: request_password_users_path, method: :get, id: "user_request_password_form", local: true do |f| %>
                            <div class="welcome-heading">
                                <h4>
                                    Password request
                                </h4>
                            </div>
                            <div class="form-group mt-5">
                                <label for="exampleInputEmail1" class="gray-txt">Your email address</label>
                                <%= f.text_field :email,class: "form-control" ,"aria-describedby": "emailHelp" ,placeholder: "example@domain.com" %>
                                <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number e.g 0721 123 456"> -->
                            </div>
                            <ul class="button-forget-list  mt-5">
                                <li>
                                    <%= f.submit "Request Password",class: "btn-purple signin-btn" %>
                                    <!-- <button type="submit" class="btn btn-primary signin-btn">Request</button> -->
                                </li>
                                <li>
                                    <span class="gray-txt">Back To</span><span class="blue-txt">
                                        <%= link_to  "Sign in" , root_path, class: "blue-txt" %>
                                    </span>
                                </li>
                            </ul>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>