

<body>
  
  <div class="wrapper">
    <section class="custom-wrap">
      <div class="container">
        <div class="Dashboard-section">
          <div class="black-heading">
            <h4>Dashboard</h4>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Total User
                </p>
                <ul class="list-none d-flex">
                  <li class="gray-txt">ksh</li>
                  <li>
                    <h2>4,040,055</h2>
                  </li>
                </ul>
                <div class="mb-3">
                  <button class="green-btn">
                    Total Orders<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Pending Orders
                </p>
                <ul class="list-none d-flex">
                  <li class="gray-txt">ksh</li>
                  <li>
                    <h2>1,040,055</h2>
                  </li>
                </ul>
                <div class="mb-3">
                  <button class="green-btn ">
                  Manage Wallet<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt">
                  Send Money
                </p>
                <div class="send-border"></div>
                <ul class="list-none d-flex mt-5">
                  <li>
                    <p class="dullgray-txt">Transfer money straightto a mobile money account.</p>
                  </li>
                </ul>
                <div class="mb-3">
                  <button class="red-btn ">
                    Send Now<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt">
                  Bank Transfer
                </p>
                <div class="send-border"></div>
                <ul class="list-none d-flex mt-5">
                  <li>
                    <p class="dullgray-txt">Transfer money straightto a mobile money account.</p>
                  </li>
                </ul>
                <div class="mb-3">
                  <button class="blue-btn ">
                   Transffer Now<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>



  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/wow.min.js"></script>


</body>

</html>