

<body>
  
  <div class="wrapper">
    <section class="custom-wrap">
      <div class="container">
        <div class="Dashboard-section">
          <div class="black-heading">
            <h4>Dashboard</h4>
          </div>

          <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Total User
                </p>
                <ul class="list-none d-flex">
                  <li>
                    <h2><%= User.where.not(email: "admin@example.com").count%></h2>
                  </li>
                </ul>
               <!--  <div class="mb-3">
                  <button class="green-btn">
                    Total Users<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div> -->
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Total Order
                </p>
                <ul class="list-none d-flex">
                  <li>
                    <h2><%= Order.all.count%></h2>
                  </li>
                </ul>
                <!-- <div class="mb-3">
                  <button class="green-btn">
                    Total Users<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div> -->
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Pending Orders
                </p>
                <ul class="list-none d-flex">
                  <li>
                    <h2><%= Order.where(status: "Reject").count%></h2>
                  </li>
                </ul>
               <!--  <div class="mb-3">
                  <button class="green-btn">
                    Total Users<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div> -->
              </div>
            </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <div class="white-card">
                <p class="gray-txt mb-5">
                  Active Orders
                </p>
                <ul class="list-none d-flex">
                  <li>
                    <h2><%= Order.where(status: "Approve").count%></h2>
                  </li>
                </ul>
                <!-- <div class="mb-3">
                  <button class="green-btn">
                    Total Users<i class="fa fa-arrow-right arrow-btn "></i>
                  </button>
                </div> -->
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </section>



  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/wow.min.js"></script>


</body>

</html>