      <main class="mainContent homeMainContent">
         <div class="container" style="padding-top:100px;">
         <div class="purple-bg">
         <div class="row">
         <div class="col-md-6 border-n" style="border-right: 1px solid #fff" >
         <div class="d-flex align-items-center justify-content-between">
         <span>Balance</span>
         <span>0.00 USD</span>
         </div>
         </div>
           <div class="col-md-6">
         <div class="d-flex align-items-center justify-content-between">
         <span>Money Out</span>
         <span>56464 USD</span>
         </div>
         </div>
         </div>
         </div>
   </div>
   <div class="container1000" style="margin-top: 20px;margin-bottom: 20px;">
   <div class="row">
   <div class="col-md-6">
   <div style="box-shadow: 0px 0px 10px #ccc;padding: 20px">
   <p>Bank Transfer</p>
   <p style="color: #656565">Transfer Money Straigth to your bank account</p>
   <button class="btn-purple" name="">Add New Card</button>
     </div>
   </div>
     <div class="col-md-6">
   <div style="box-shadow: 0px 0px 10px #ccc;padding: 20px">
   <p>Send Money</p>
   <p style="color: #656565">Send Money to Anyone</p>
   <button class="btn-purple" name="">Send Now</button>
     </div>
   </div>
   </div>
   </div>
   <div class="container">
   <div class="heading">
               <h3>Transaction analytics</h3>
            </div>
            
            <img src="/assets/graph.png">
            </div>
</main>