<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Admin their is an error in project  Atul due to here is the arror description 
     <%#= @user.name %></h1>
    <p>
      <% binding.pry%>
      <%=raw @err%>
      <%=raw   @detail%>
      <%=raw  @error_details %>
    </p>
  </body>
</html>